﻿<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
		<meta name="description" content="dodolan manuk responsive catalog themes built with twitter bootstrap">
		<meta name="keywords" content="responsive, catalog, cart, themes, twitter bootstrap, bootstrap">
		<meta name="author" content="afriq yasin ramadhan">
		<link rel="shortcut icon" href="/images/favicon.png">

		<title>@ViewData["Title"] - EShop</title>

		<!-- Bootstrap core CSS -->
		<link href="/css/bootstrap.css" rel="stylesheet">

		<!-- Custom styles for this template -->
		<link href="/css/style.css" rel="stylesheet">
		<link href="/css/responsive.css" rel="stylesheet">

		@RenderSection("styles", required: false)

		@Html.ApplicationInsightsJavaScript(TelemetryConfiguration)

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		  <script src="js/html5shiv.js"></script>
		  <script src="js/respond.min.js"></script>
		<![endif]-->
	</head>
    <body>
		<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand visible-xs" href="#">Dodolan Manuk</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav nav-left">
						<li class="active"><a asp-controller="Home" asp-action="Index">Home</a></li>
						<li><a asp-controller="Home" asp-action="About">About</a></li>
						<li><a asp-controller="Home" asp-action="Profile">Profile</a></li>
						<li><a asp-controller="Home" asp-action="Contact">Contact</a></li>
					</ul>
					<a href="#" class="logo visible-lg visible-md"><img src="/images/logo.jpg" alt="dodolan manuk responsive catalog themes"></a>
					<div id="brand" class="visible-lg visible-md">&nbsp;</div>
					<ul class="nav navbar-nav nav-right">
						<li><a asp-controller="Home" asp-action="Order">Order</a></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Products <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a asp-controller="Home" asp-action="Product">Canary</a></li>
								<li><a asp-controller="Home" asp-action="Product">Emprit</a></li>
								<li>
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">Doro <i class="fa fa-caret-down icon-dropdown"></i></a>
									<ul class="dropdown-menu sub-menu">
										<li><a asp-controller="Home" asp-action="Product">Doro Pos</a></li>
										<li><a asp-controller="Home" asp-action="Product">Doro Kucir</a></li>
										<li><a asp-controller="Home" asp-action="Product">Doro Belehan</a></li>
										<li><a asp-controller="Home" asp-action="Product">Doro Sungut</a></li>
									</ul>
								</li>
								<li class="divider"></li>
								<li><a asp-controller="Home" asp-action="Product">Pitik</a></li>
								<li><a asp-controller="Home" asp-action="Product">Cucak Rowo</a></li>
							</ul>
						</li>
					</ul>

				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>

		@RenderSection("heading", required: false)

		@RenderBody()
       
		<!-- begin:footer -->
		<div id="footer">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h3>dodolan manuk</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis lectus metus,<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

						<ul class="list-unstyled social-icon">
							<li><a href="https://www.facebook.com/shevastream" rel="tooltip" title="Facebook" class="icon-facebook"><span><i class="fa fa-facebook-square"></i></span></a></li>
							<li><a href="#" rel="tooltip" title="Twitter" class="icon-twitter"><span><i class="fa fa-twitter"></i></span></a></li>
							<li><a href="#" rel="tooltip" title="Linkedin" class="icon-linkedin"><span><i class="fa fa-linkedin"></i></span></a></li>
							<li><a href="#" rel="tooltip" title="Instagram" class="icon-gplus"><span><i class="fa fa-google-plus"></i></span></a></li>
							<li><a href="https://www.instagram.com/shevastream/" rel="tooltip" title="Instagram" class="icon-instagram"><span><i class="fa fa-instagram"></i></span></a></li>
						</ul>

						<div class="sitemap">
							<ul>
								<li><a asp-controller="Home" asp-action="Index">HOME</a></li>
								<li><a asp-controller="Home" asp-action="About">ABOUT</a></li>
								<li><a asp-controller="Home" asp-action="Profile">PROFILE</a></li>
								<li><a asp-controller="Home" asp-action="Contact">CONTACT</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end:footer -->
		<!-- begin:copyright -->
		<div id="copyright">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<small>Copyright &copy; 2013 Dodolan Manuk All Right Reserved. Made With <i class="fa fa-heart-o"></i> by Afriq</small>
					</div>
				</div>
			</div>
		</div>
		<!-- end:copyright -->
		<!-- Bootstrap core JavaScript
	================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&amp;language=en"></script>
		
		<script src="/js/jquery.js"></script>
		<script src="/js/gmap3.js"></script>
		<script src="/js/bootstrap.js"></script>
		<script src="/js/script.js"></script>

        @RenderSection("scripts", required: false)
    </body>
</html>
