﻿@{
    ViewData["Title"] = "About";
}

@section heading {
	<!-- begin:heading -->
	<div class="heads" style="background: url(/images/img02.jpg) center center;">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2><span>//</span> about us</h2>
				</div>
			</div>
		</div>
	</div>
	<!-- end:heading -->
}

<!-- begin:content -->
<div class="page-content">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ol class="breadcrumb">
					<li><a href="#">Home</a></li>
					<li class="active">About Us</li>
				</ol>
			</div>
		</div>

		<div class="row">
			<div class="col-md-8 col-sm-8">
				<h3>Lorem ipsum dolor sit amet</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis lectus metus, at posuere neque. Sed pharetra nibh eget orci convallis at posuere leo convallis. Sed blandit augue vitae augue scelerisque bibendum. Vivamus sit amet libero turpis, non venenatis urna. In blandit, odio convallis suscipit venenatis, ante ipsum cursus augue.</p>
			</div>
			<div class="col-md-4 col-sm-4">
				<img src="~/images/img01.jpg" class="img-responsive img-rounded" alt="dodolan manuk catalog template">
			</div>
		</div>

		<div class="row padd20-top-btm">
			<div class="col-md-4 col-sm-4">
				<img src="~/images/img02.jpg" class="img-responsive img-rounded" alt="dodolan manuk catalog template">
			</div>
			<div class="col-md-8 col-sm-8">
				<h3>Lorem ipsum dolor sit amet</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis lectus metus, at posuere neque. Sed pharetra nibh eget orci convallis at posuere leo convallis. Sed blandit augue vitae augue scelerisque bibendum. Vivamus sit amet libero turpis, non venenatis urna. In blandit, odio convallis suscipit venenatis, ante ipsum cursus augue.</p>
			</div>
		</div>

		<div class="row padd20-top-btm">
			<div class="col-md-12 text-center">
				<h3>Lorem ipsum dolor sit amet</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis lectus metus, at posuere neque. Sed pharetra nibh eget orci convallis at posuere leo convallis. Sed blandit augue vitae augue scelerisque bibendum. Vivamus sit amet libero turpis, non venenatis urna. In blandit, odio convallis suscipit venenatis, ante ipsum cursus augue.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis lectus metus, at posuere neque.</p>
			</div>
		</div>
	</div>
</div>
<!-- end:content -->
