﻿@{
    ViewData["Title"] = "Product";
}

@section heading {
	<!-- begin:heading -->
	<div class="heads" style="background: url(/images/img02.jpg) center center;">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2><span>//</span> Category</h2>
				</div>
			</div>
		</div>
	</div>
	<!-- end:heading -->
}

<!-- begin:product -->
<div id="catalogue">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ol class="breadcrumb">
					<li><a href="#">Home</a></li>
					<li class="active">Category</li>
				</ol>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<h2>Border Canary</h2>
				<p>Display all item with category Border Canary</p>
				<ul class="thumbnails">
					<li class="col-md-3 col-sm-3">
						<div class="thumbnail">
							<a href="detail.html"><img src="/images/manuk.jpg" class="img-responsive" alt="product dodolan manuk" /></a>
							<div class="caption-details">
								<h3>Border Canary</h3>
								<span class="price">$200</span>
							</div>
						</div>
					</li>
					<li class="col-md-3 col-sm-3">
						<div class="thumbnail">
							<a href="detail.html"><img src="/images/manuk.jpg" class="img-responsive" alt="product dodolan manuk" /></a>
							<div class="caption-details">
								<h3>Border Canary</h3>
								<span class="price">$200</span>
							</div>
						</div>
					</li>
					<li class="col-md-3 col-sm-3">
						<div class="thumbnail">
							<a href="detail.html"><img src="/images/manuk.jpg" class="img-responsive" alt="product dodolan manuk" /></a>
							<div class="caption-details">
								<h3>Border Canary</h3>
								<span class="price">$200</span>
							</div>
						</div>
					</li>
					<li class="col-md-3 col-sm-3">
						<div class="thumbnail">
							<a href="detail.html"><img src="/images/manuk.jpg" class="img-responsive" alt="product dodolan manuk" /></a>
							<div class="caption-details">
								<h3>Border Canary</h3>
								<span class="price">$200</span>
							</div>
						</div>
					</li>
					<li class="col-md-3 col-sm-3">
						<div class="thumbnail">
							<a href="detail.html"><img src="/images/manuk.jpg" class="img-responsive" alt="product dodolan manuk" /></a>
							<div class="caption-details">
								<h3>Border Canary</h3>
								<span class="price">$200</span>
							</div>
						</div>
					</li>
					<li class="col-md-3 col-sm-3">
						<div class="thumbnail">
							<a href="detail.html"><img src="/images/manuk.jpg" class="img-responsive" alt="product dodolan manuk" /></a>
							<div class="caption-details">
								<h3>Border Canary</h3>
								<span class="price">$200</span>
							</div>
						</div>
					</li>
					<li class="col-md-3 col-sm-3">
						<div class="thumbnail">
							<a href="detail.html"><img src="/images/manuk.jpg" class="img-responsive" alt="product dodolan manuk" /></a>
							<div class="caption-details">
								<h3>Border Canary</h3>
								<span class="price">$200</span>
							</div>
						</div>
					</li>
					<li class="col-md-3 col-sm-3">
						<div class="thumbnail">
							<a href="detail.html"><img src="/images/manuk.jpg" class="img-responsive" alt="product dodolan manuk" /></a>
							<div class="caption-details">
								<h3>Border Canary</h3>
								<span class="price">$200</span>
							</div>
						</div>
					</li>
				</ul>

				<ul class="pagination">
					<li class="disabled"><a href="#">Page 1 of 2</a></li>
					<li class="disabled"><a href="#">&laquo;</a></li>
					<li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li><a href="#">5</a></li>
					<li><a href="#">&raquo;</a></li>
				</ul>

			</div>
		</div>
	</div>
</div>
<!-- end:product -->
