﻿@{
    ViewData["Title"] = "About";
}

@section heading {
	<!-- begin:heading -->
	<div class="heads" style="background: url(/images/img02.jpg) center center;">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2><span>//</span> profile</h2>
				</div>
			</div>
		</div>
	</div>
	<!-- end:heading -->
}

<!-- begin:content -->
<div class="page-content">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ol class="breadcrumb">
					<li><a href="#">Home</a></li>
					<li class="active">Profile</li>
				</ol>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12 text-center">
				<h3>Lorem ipsum dolor sit amet</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis lectus metus, at posuere neque. Sed pharetra nibh eget orci convallis at posuere leo convallis. Sed blandit augue vitae augue scelerisque bibendum. Vivamus sit amet libero turpis, non venenatis urna. In blandit, odio convallis suscipit venenatis, ante ipsum cursus augue.</p>
			</div>
		</div>

		<div class="row padd20-top-btm" id="theteam">
			<div class="col-md-4 col-sm-4">
				<div class="team-container">
					<div class="featured-photos">
						<img src="/images/team3.png" class="img-responsive img-rounded" alt="chandra noor rachman">
					</div>
					<h3>graphic designer</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis lectus metus, at posuere neque.</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="team-container">
					<div class="featured-photos">
						<img src="/images/team2.png" class="img-responsive img-rounded" alt="dimas angger dwi purna">
					</div>
					<h3>programmer</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis lectus metus, at posuere neque.</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="team-container">
					<div class="featured-photos">
						<img src="/images/team1.png" class="img-responsive img-rounded" alt="afriq yasin ramadhan">
					</div>
					<h3>web designer</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis lectus metus, at posuere neque.</p>
				</div>
			</div>
		</div>

		<div class="row padd20-top-btm">
			<div class="col-md-12 t-center">
				<h3>Lorem ipsum dolor sit amet</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis lectus metus, at posuere neque. Sed pharetra nibh eget orci convallis at posuere leo convallis. Sed blandit augue vitae augue scelerisque bibendum. Vivamus sit amet libero turpis, non venenatis urna. In blandit, odio convallis suscipit venenatis, ante ipsum cursus augue.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis lectus metus, at posuere neque.</p>
			</div>
		</div>
	</div>
</div>
<!-- end:content -->
